@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Merriweather&family=Montserrat:wght@100;200&family=Pacifico&family=Playfair+Display:wght@500&family=Tilt+Prism&family=Ysabeau+Infant&display=swap");

:root {
  --blackText: rgb(35, 35, 35);
  --grayText: rgb(99, 99, 99);
  --headingFont: "Ysabeau Infant", sans-serif;
}

.logoImage {
  width: 15vw;
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
}

a h2,
h4 {
  color: var(--blackText);
}

a p {
  color: var(--grayText);
}

.menuIcon {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw;
  font-size: 2vw;
  letter-spacing: 0.2vw;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: darkseagreen;
}

.navbar a {
  color: var(--blackText);
  transition: all 0.3s linear;
  color: white;
}

.navbar a:focus {
  text-shadow: 1px 1px 4px red;
  color: red;
}

.bollywoodContainer {
  padding: 1vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0vw 3vw;
}

.left {
  width: 54vw;
}

.right {
  width: 45vw;
}

.bollywoodHeading {
  font-size: 3vw;
  color: darkseagreen;
  border-bottom: 0.5vw solid darkseagreen;
  margin: 0vw 2vw 0vw 0vw;
  padding: 1vw 0vw;
}

.cardContainer {
  background-color: lightgoldenrodyellow;
  border-bottom: 0.3vw solid darkseagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 0vw;
  transition: all 0.2s linear;
  width: 45vw;
  overflow: hidden;
  box-shadow: 0.2vw 0.2vw 1.5vw rgba(0, 0, 0, 0.145);
}

.cardContainer:hover {
  border-bottom: 0.3vw solid red;
}

.cardImageContainer {
  width: 70vw;
  height: 12vw;
  overflow: hidden;
}

.cardContainer:hover .cardImage {
  scale: 1.5;
}

.cardImage {
  width: 20vw;
  height: 14vw;
  transition: all 5s linear;
}

.cardContent {
  padding: 0vw 1vw;
  box-sizing: border-box;
}
*{
  /* border: 1px solid red;  */
}
.cardContent h2 {
  font-family: var(--headingFont);
  color: darkseagreen;
  margin: 0.3vw 0vw;
  font-size: 2vw;
}

.leftContent {
  text-align: justify;
  margin: 0px;
  font-size: 1.2vw;
}

.topPostHeading {
  font-size: 2vw;
  margin: 1vw auto;
  text-align: left;
  color: var(--blackText);
}

.topPostHeading::first-letter {
  font-size: 3vw;
  color: red;
}

.rightCardOne {
  border-bottom: 2px solid var(--grayText);
}

.rightCardOneImg {
  display: block;
  margin: auto;
  width: 100%;
}

.rightCardOneHeading {
  font-family: var(--headingFont);
  color: darkseagreen;
  margin: 1vw 0vw 0vw 0vw;
  font-size: 2vw;
}

.rightContent {
  text-align: justify;
  font-size: 1.2vw;
}

.rightFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightOne {
  width: 35vw;
}

.rightCardNumber {
  font-size: 5vw;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}

.rightCardTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw auto;
  /* border-top: 1px solid gray; */
  border-bottom: 1px solid gray;
  padding: 0.2vw 1vw;
}

.rightcardTwiImg {
  width: 15vw;
  height: 11vw;
}

.rightCardTwoName {
  padding: 0vw 0.5vw;
  color: var(--grayText);
  margin: 0vw auto;
  font-size: 1.3vw;
}

.rightCardTwoNumber {
  font-size: 4vw;
  padding: 0px;
  margin: 0px;
}

.advertisement {
  height: 50vw;
  border: 1px solid gray;
}

.dynamicContainerTop {
  display: flex;
  align-items: center;
  margin: 2vw auto;
}

.dynamicLeft {
  width: 30vw;
  position: sticky;
  top: 20vw;
  font-size: 1.5vw;
}

.likeContainer {
  display: flex;
}

.likeContainer h3 {
  width: 20vw;
}

.likeImage {
  width: 3vw;
  margin: 0px 1vw;
  object-fit: scale-down;
}

.shareContainer {
  display: flex;
  margin: 5vw auto;
}

.shareImage {
  width: 4vw;
  margin: 0px 1vw;
  object-fit: scale-down;
}

.dynamicRight {
  width: 60vw;
}

.aboutContainer {
  border-bottom: 1vw solid lightgray;
  margin: 1vw auto;
  display: flex;
  align-items: center;
  padding: 1vw 0vw;
}

.avatarImgContainer {
  width: 12vw;
  clip-path: circle();
  object-fit: cover;
}

.avatarImg {
  width: 100%;
  background-position: center;
}

.aboutHeading {
  font-size: 2vw;
  margin: 0px;
  color: var(--grayText);
}

.aboutPara {
  font-size: 1.5vw;
  margin: 0px;
  color: var(--grayText);
}

.gitIcon {
  width: 3vw;
  margin: 0vw 10vw;
}

.dynamicHeading {
  font-size: 3vw;
  color: darkseagreen;
}

.dynamicImage {
  width: 100%;
}

.dynamicPara {
  font-size: 2vw;
}

.backButton {
  width: 100%;
  font-size: 3vw;
  color: white;
  background-color: darkseagreen;
  border: 0.2vw solid transparent;
  padding: 1vw 0vw;
  font-family: var(--headingFont);
}

.footer {
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  background-color: rgb(143, 188, 143);
  display: grid;
  gap: 1vw;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2vw auto;
}

.icons i {
  display: block;
  color: whitesmoke;
  font-size: 3vw;
  margin: auto 2vw;
}

.row p {
  font-size: 1.5vw;
  color: white;
  margin: 1vw 2vw;
  letter-spacing: 2px;
  display: inline;
}

.footerIcon {
  width: 15vw;
  margin: auto;
  display: block;
}

.footerText {
  font-size: 1.5vw;
  color: white;
  letter-spacing: 2px;
}

/* home */
.homeContainer {
  padding: 0vw 2vw;
}

.homeTop {
  display: flex;
  align-items: center;
  margin: 2vw auto;
}

.topRight {
  margin: 0vw 0.6vw;
}

.crouselContainer {
  width: 65vw;
  height: 40vw;
  position: relative;
}

.crouselImages {
  width: 100%;
  height: 100%;
  border-radius: 0.6vw;
}

.courselButton {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.previousBtn,
.nextBtn {
  display: block;
  color: white;
  background-color: transparent;
  font-size: 3vw;
  border: none;
  opacity: 0.7;
  margin: 0vw 2vw;
}

.img {
  width: 29.5vw;
  border-radius: 0.6vw;
}

.techLatestHeading {
  font-size: 3vw;
  color: darkseagreen;
  width: fit-content;
  border-bottom: 0.5vw solid darkseagreen;
  font-family: var(--headingFont);
}

.homeTechDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homeTechCard {
  border-bottom: 0.2vw solid darkseagreen;
  width: 30vw;
  transition: all 0.2s linear;
}

.homeTechCard:hover {
  scale: 1.1;
  z-index: 2;
  background-color: rgb(143, 188, 143, 0.8);
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.334);
}

.homeTechCard:hover .homeTechCardHeading,
.homeTexhcardPara {
  color: white;
}

.hometechCardImg {
  width: 100%;
  height: 20vw;
}

.homeTechCardHeading {
  padding: 0vw 0.5vw;
  margin: 0.3vw 0vw;
  color: darkseagreen;
  font-family: var(--headingFont);
  font-weight: bolder;
  font-size: 2.3vw;
}

.homeTexhcardPara {
  padding: 0vw 0.5vw;
  text-align: justify;
  color: var(--blackText);
}

.homeTechCard:hover .homeTexhcardPara {
  color: white;
}

.homeLatestDivContainer {
  border: 1px SOLID RED;
}

.homeLatestDiv {
  border: 1px SOLID RED;
}

.HomeLeft {
  width: 50%;
}

.homeCardContainer {
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 1vw 0vw;
  transition: all 0.2s linear;
  width: 45vw;
}

.homeCardContainer:hover .homeCardImage {
  scale: 2;
}

.homeCardImageContainer {
  width: 80vw;
  height: auto;
  overflow: hidden;
  /* border: 1px solid red; */
}

.homeCardImage {
  width: 100%;
  height: 100%;
  transition: all 5s linear;
  vertical-align: middle;
}

.homeThirdDiv {
  display: flex;
  justify-content: space-evenly;
  margin: 4vw auto;
}

.homeRight {
  border: 1px solid black;
  width: 40%;
}

.homeDivFour {
  display: flex;
  column-gap: 1vw;
  padding: 1vw;
  row-gap: 0vw;
  background-color: papayawhip;
}

.homeDivFourRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.homeLeftContent {
  margin: 0.5vw auto;
  font-size: 1.4vw;
}

/* crouselTwo */
.homeCrouselContainer {
  width: 50vw;
  height: 27vw;
  position: relative;
}

.homeCrouselImages {
  width: 100%;
  height: 100%;
  border-radius: 0.6vw;
  transition: all 0.1s linear;
}

.homeCrouselImages:hover {
  filter: sepia(100%);
}

.homeCrouselButtonContainer {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.homePreviousBtn,
.homeNextBtn {
  display: block;
  color: white;
  background-color: transparent;
  font-size: 3vw;
  border: none;
  opacity: 0.7;
  margin: 0vw 2vw;
}

.more{
  font-size: 1.5vw;
  padding: 0vw 3vw;
  text-decoration: underline;
  color: darkseagreen;
}

.moreContainer{
  display: flex;
  justify-content: space-evenly;
  margin: 3vw auto;
}

.moreCard{
  width: 30vw;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.238);
}

.moreCardImage{
  width: 100%;
}

.moreCardHeading{
  font-size: 3vw;
  color: darkseagreen;
  margin: 1vw 0vw;
  padding: 0vw 1vw;
}

.moreCardPara{
text-align: justify;
font-size: 1.5vw;
margin: 0.5vw auto;
padding: 0vw 1vw;
}


* {
  /* border: 1px solid red; */
}
