@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Merriweather&family=Montserrat:wght@100;200&family=Pacifico&family=Playfair+Display:wght@500&family=Tilt+Prism&family=Ysabeau+Infant&display=swap');

*{
  /* border: 1px solid greenyellow; */
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Montserrat', sans-serif; thin */
  /* font-family: 'Pacifico', cursive; cursive */
}

:root{
  --blackText: black;
  --grayText: gray;
  /* font-family: 'Ysabeau Infant', sans-serif; */
  --headingFont: 'Ysabeau Infant', sans-serif;
}

body{
  padding: 0vw 3vw;
}

.logoImage{
  width: 15vw;
  display: block;
  margin: auto;
}

a{
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw;
  border-bottom: 2px solid var(--grayText);
  font-size: 2vw;
  letter-spacing: 0.2vw;
  font-family: 'Ysabeau Infant', sans-serif;
}

.navbar a{
  color: var(--blackText);
  transition: all 0.3s linear;
}

.navbar a:focus{
  /* border-bottom: 2px solid red; */
  text-shadow: 1px 1px 4px rgba(255, 0, 0, 0.786);
  color: red;
  font-weight: bolder;
}