@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Merriweather&family=Montserrat:wght@100;200&family=Pacifico&family=Playfair+Display:wght@500&family=Tilt+Prism&family=Ysabeau+Infant&display=swap");

:root {
  --blackText: rgb(35, 35, 35);
  --grayText: rgb(99, 99, 99);
  --headingFont: "Ysabeau Infant", sans-serif;
}

body {
  padding: 0vw 3vw;
}

.logoImage {
  width: 15vw;
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
}

a h2,h4{
  color: var(--blackText);
}

a p{
  color: var(--grayText);
}

.menuIcon{
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw;
  font-size: 2vw;
  letter-spacing: 0.2vw;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: cadetblue;
}

.navbar a {
  color: var(--blackText);
  transition: all 0.3s linear;
  color: white;
}

.navbar a:focus {
  text-shadow: 1px 1px 4px red;
  color: red;
}

.bollywoodContainer {
  padding: 1vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  width: 54vw;
}

.right {
  width: 45vw;
}

.bollywoodHeading {
  font-size: 3vw;
  color: cadetblue;
  border-bottom: 0.5vw solid cadetblue;
  margin: 0vw 2vw 0vw 0vw;
  padding: 1vw 0vw;
}

.cardContainer {
  border-bottom: 0.2vw solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 0vw;
  transition: all 0.2s linear;
  width: 45vw;
}

.cardContainer:hover {
  box-shadow: 0.2vw 0.2vw 1.5vw cadetblue;
  border-bottom: 0.2vw solid red;
}

.cardImageContainer {
  width: 41vw;
  height: 100%;
  overflow: hidden;
}

.cardImageContainer:hover .cardImage {
  scale: 1.5;
}

.cardImage {
  width: 18vw;
  height: 11vw;
  transition: all 5s linear;
}

.cardContent {
  padding: 0vw 1vw;
  box-sizing: border-box;
}

.cardContent h2 {
  font-family: var(--headingFont);
  color: cadetblue;
  margin: 0.3vw 0vw;
}

.leftContent{
  text-align: justify;
  margin: 0px;
}

.topPostHeading{
  font-size: 2vw;
  margin: 1vw auto;
  text-align: left;
  color: var(--blackText);
}

.topPostHeading::first-letter{
  font-size: 3vw;
  color: red;
}

.rightCardOne{
  border-bottom: 2px solid var(--grayText);
}

.rightCardOneImg {
  display: block;
  margin: auto;
  width: 100%;
}

.rightCardOneHeading {
  font-family: var(--headingFont);
  color: cadetblue;
  margin: 1vw 0vw 0vw 0vw;
}

.rightContent{
  text-align: justify;
}

.rightFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightOne {
  width: 35vw;
}

.rightCardNumber{
  font-size: 5vw;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}

.rightCardTwo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 0.2vw 1vw;
}

.rightcardTwiImg{
  width: 15vw;
  height: 11vw;
}

.rightCardTwoName{
  padding: 0vw 0.5vw;
  color: var(--grayText);
}

.rightCardTwoNumber{
  font-size: 4vw;
  padding: 0px;
  margin: 0px;
}

.advertisement{
  height: 20vw;
  border: 1px solid gray;
}

.dynamicContainerTop{
  display: flex;
  align-items: center;
  margin: 2vw auto;
}

.dynamicLeft{
  width: 30vw;
  position: sticky;
  top: 20vw;
  font-size: 1.5vw;
}

.likeContainer{
  display: flex;
}

.likeContainer h3{
  width: 20vw;
}

.likeImage{
  width: 3vw;
  margin: 0px 1vw;
  object-fit: scale-down;
}

.shareContainer{
  display: flex;
  margin: 5vw auto;
}

.shareImage{
  width: 4vw;
  margin: 0px 1vw;
  object-fit: scale-down;
}

.dynamicRight{
  width: 60vw;
}

.aboutContainer{
  border-bottom: 1vw solid lightgray;
  margin: 1vw auto;
  display: flex;
  align-items: center;
  padding: 1vw 0vw;
}

.avatarImgContainer{
  width: 12vw;
  clip-path: circle();
  object-fit: cover;
}

.avatarImg{
  width: 100%;
  background-position: center;
}

.aboutHeading{
  font-size: 2vw;
  margin: 0px;
  color: var(--grayText);
}

.aboutPara{
  font-size: 1.5vw;
  margin: 0px;
  color: var(--grayText);
}

.gitIcon{
  width: 3vw;
  margin: 0vw 10vw;
}

.dynamicHeading{
  font-size: 3vw;
  color: cadetblue;
}

.dynamicImage{
  width: 100%;
}

.dynamicPara{
  font-size: 2vw;
}

.backButton{
  width: 100%;
  font-size: 3vw;
  color: white;
  background-color: cadetblue;
  border: 0.2vw solid transparent;
  padding: 1vw 0vw;
  font-family: var(--headingFont);
}

*{
  /* border: 1px solid greenyellow; */
}