:root {
  --blackText: rgb(35, 35, 35);
  --grayText: rgb(99, 99, 99);
  --headingFont: "Ysabeau Infant", sans-serif;
}

/*(Mobile)*/
@media (max-width: 767px) {
  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
  }

  .logoImage {
    width: 40vw;
    display: block;
    margin: 0vw;
  }

  .menuIcon {
    display: block;
    width: 10vw;
    margin: 0vw 3vw;
  }

  /* .menuIcon:hover .navbar{
    display: block;
  } */

  .navbar {
    display: none;
  }

  .resNavbar {
    border-bottom: none;
    font-size: 10vw;
    width: 100%;
    height: fit-content;
    letter-spacing: 0.2vw;
    position: fixed;
    right: 0vw;
    top: 22vw;
    text-align: center;
    backdrop-filter: blur(10px);
    display: block;
    background-color: rgb(143, 188, 143);
  }

  .resNavbar div {
    border-bottom: 1px solid white;
    width: fit-content;
    padding: 2vw 0vw;
    margin: 0vw auto;
  }

  .resNavbar a {
    color: white;
    font-size: 7vw;
  }

  .bollywoodHeading {
    font-size: 8vw;
    margin: 5vw auto;
  }

  .bollywoodContainer {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .cardContainer {
    width: 100%;
    display: block;
    margin: 5vw auto;
  }

  .cardImageContainer {
    width: 100%;
  }

  .cardImage {
    width: 100%;
    height: auto;
  }

  .cardContent h2 {
    font-size: 8vw;
    margin: 1.2vw 0vw;
  }

  .leftContent {
    font-size: 4.5vw;
    text-align: left;
    padding: 1vw 0.2vw;
  }

  .right {
    width: 100%;
  }

  .topPostHeading {
    font-size: 11vw;
    margin: 0vw 0vw 5vw 0vw;
    border-bottom: 2vw solid cadetblue;
    padding: 2vw 0vw;
    color: cadetblue;
  }

  .topPostHeading::first-letter {
    font-size: 15vw;
    color: cadetblue;
  }

  .homeCardContainer:hover .homeCardImage {
    scale: 1;
  }

  .rightOne {
    width: 100%;
  }

  .rightCardOneHeading {
    font-size: 7vw;
    margin: 1vw 0vw;
  }

  .rightContent {
    padding: 0px 1vw;
    margin: 1vw 0vw 3vw 0vw;
  }

  .rightCardNumber {
    display: none;
  }

  .rightcardTwiImg {
    width: 100%;
    height: auto;
  }

  .rightCardTwo {
    display: block;
    margin: 4vw auto;
  }

  .rightCardTwoName {
    width: 100%;
    padding: 1vw 0vw;
    margin: 1vw auto;
  }

  .rightCardTwoNumber {
    display: none;
  }

  .dynamicLeft {
    display: none;
  }

  .dynamicRight {
    width: 100%;
  }

  .dynamicHeading {
    font-size: 7vw;
    margin: 1vw 0vw 2vw auto;
  }

  .dynamicPara {
    font-size: 3.5vw;
  }

  .backButton {
    font-size: 6vw;
    padding: 2vw;
  }

  .avatarImgContainer {
    width: 22vw;
  }

  .aboutHeading {
    font-size: 5vw;
  }

  .aboutPara {
    font-size: 3vw;
  }

  .gitIcon {
    width: 6vw;
  }

  .footerIcon {
    width: 55vw;
  }

  .row p {
    font-size: 2vw;
  }

  .footerText {
    font-size: 2vw;
  }

  .dynammic {
    padding: 3vw;
  }

  .dynamicPara {
    text-align: justify;
  }

  /* HOME */
  .homeTop {
    flex-direction: column;
  }

  .topRight {
    display: none;
  }

  .crousel {
    width: 100%;
  }

  .crouselContainer {
    width: 100%;
    height: 40%;
  }

  .previousBtn,
  .nextBtn {
    font-size: 8vw;
  }

  .homeTechCardHeading {
    font-size: 6vw;
  }

  .homeTexhcardPara {
    margin: 0vw 0vw 3vw;
  }

  .homeTechDiv {
    flex-direction: column;
  }

  .homeTechCard {
    width: 100%;
    margin: 3vw auto;
  }

  .hometechCardImg {
    width: 100%;
    height: 50%;
  }

  .homeThirdDiv {
    flex-direction: column;
  }

  .HomeLeft {
    width: 100%;
  }

  .homeCardContainer {
    width: 100%;
    display: block;
    margin: 3vw auto;
  }

  .homeCardImageContainer {
    width: 100%;
  }

  .homeCardContainer:hover .homeCardImage {
    scale: 1;
  }

  .homeCardImage {
    width: 100%;
  }

  .homeRight {
    width: 100%;
  }

  .homeAdvertisement {
    width: 100%;
    height: 40vw;
  }

  .homeDivFour {
    flex-direction: column;
    background-color: white;
  }

  .homeCrouselContainer {
    width: 100%;
    height: 70%;
  }

  .homePreviousBtn,
  .homeNextBtn {
    font-size: 7vw;
  }

  .homeTechCard:hover {
    scale: 1;
    background-color: white;
    color: var(--grayText);
    box-shadow: 0px;
  }

  .homeTechCard:hover .homeTexhcardPara {
    color: var(--blackText);
  }

  .homeTechCard:hover .homeTechCardHeading {
    color: darkseagreen;
  }

  .homeLeftContent {
    padding: 0vw 1vw 2vw;
  }

  .more {
    text-decoration: underline;
    color: darkseagreen;
    text-align: center;
  }

  .row p {
    font-size: 3vw;
  }

  .footerText{
    font-size: 4vw;
  }

  .icons i {
    font-size: 6vw;
  }
}

/*(tablets)*/
@media (min-width: 768px) and (max-width: 1023px) {
  .bollywoodContainer {
    flex-direction: column-reverse;
  }

  .right {
    width: 80%;
  }

  .topPostHeading {
    font-size: 5vw;
  }

  .topPostHeading::first-letter {
    font-size: 6vw;
  }

  .rightOne {
    width: 66vw;
  }

  .rightCardNumber {
    font-size: 15vw;
    font-weight: 400;
  }

  .rightCardTwoNumber {
    font-size: 7vw;
  }

  .rightcardTwiImg {
    width: 30vw;
    height: auto;
  }

  .left {
    width: 90%;
  }

  .bollywoodHeading {
    font-size: 5vw;
  }

  .cardContainer {
    width: 90%;
    margin: 1vw auto;
  }

  .cardImage {
    width: 25vw;
  }

  .cardImageContainer {
    width: 45vw;
  }

  .footerIcon {
    width: 18vw;
  }

  .navbar a {
    font-size: 3vw;
  }

  .logoImage {
    width: 30vw;
  }

  .cardImageContainer {
    width: 45vw;
    height: 17vw;
  }

  .cardImage {
    height: 100%;
  }

  .dynamicLeft {
    display: none;
  }

  .dynamicContainerTop {
    justify-content: center;
    width: 90%;
  }

  .dynamicRight {
    width: 100%;
  }

  .avatarImgContainer {
    width: 18vw;
  }

  .aboutHeading {
    font-size: 4vw;
  }

  .aboutPara {
    font-size: 2.5vw;
  }

  .gitIcon {
    width: 6vw;
  }

  .dynamicHeading {
    font-size: 5vw;
    margin: 1vw 0vw;
  }

  .dynamicPara {
    font-size: 4vw;
    text-align: justify;
  }

  .backButton {
    font-size: 6vw;
  }

  .more {
    font-size: 4vw;
  }

  .dynamicBottom {
    width: 90%;
    margin: 2vw auto;
  }

  .homeThirdDiv {
    flex-direction: column;
  }

  .HomeLeft {
    width: 100%;
  }

  .homeCardContainer {
    margin: 1vw auto;
    width: 90%;
    padding: 2vw;
  }

  .homeRight {
    width: 100%;
  }

  .homeAdvertisement {
    width: 100%;
    height: 10vw;
  }

  .homeDivFour {
    flex-direction: column;
  }

  .homeCrouselContainer {
    width: 100%;
    margin: auto;
    height: 50vw;
  }

  * {
    /* border: 1px solid red; */
  }
}
